---
export interface Props {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
}

const { tag, tagName, size = "sm" } = Astro.props;
---

<li
  class={`inline-block ${
    size === "sm" ? "my-1 underline-offset-4" : "my-3 mx-1 underline-offset-8"
  }`}
>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class={`${size === "sm" ? "text-sm" : "text-lg"} pr-2 group`}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class={`${size === "sm" ? " scale-75" : "scale-110"}`}
      ><path
        d="M12.1385 2.9863 11.549 6.125h-3.7245l.537-2.8613-1.473-.2775L6.299 6.125H3.125v1.5h2.8928l-.5633 3H2.375v1.5h2.7982l-.5355 2.8538 1.4738.2767L6.6995 12.125h3.7245l-.5355 2.8538 1.4738.2767.5873-3.1305H15.125v-1.5h-2.8942l.5633-3H15.875V6.125h-2.7997l.537-2.8613-1.4738-.2775zM10.7045 10.625H6.9808l.5633-3h3.7245l-.564 3z"
      ></path>
    </svg>
    &nbsp;<span>{tagName}</span>
  </a>
</li>

<style>
  a {
    @apply relative underline decoration-dashed hover:-top-0.5 hover:text-skin-accent focus-visible:p-1;
  }
  a svg {
    @apply -mr-5 h-6 w-6 scale-95 text-skin-base opacity-80 group-hover:fill-skin-accent;
  }
</style>
